<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<script src="https://unpkg.com/vue"></script>
		<!--<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>-->
	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="assets/css/base.css">
		<link rel="stylesheet" href="assets/css/index.css">
		
	</head>
	<body>
		<section class="todoapp">
			

				<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
				<div id="app">
						<p>a-{{ message }}--{{todos.length}}</p>
				
<script>

	  </script>
				
				
			<header class="header">
				<h1>todos</h1>

	  <input class="new-todo"
	  autofocus autocomplete="off"
	  placeholder="What needs to be done?"
	  :value="newTodo"
	  @change="setNewTodo"
	  @keyup.enter="addTodo"
	  >
			</header>
			<input class="edit" value="Rule the web"  	v-model="editedTodo.title">
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main" v-show="todos.length" v-cloak>
				<input class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete-{{todos.length}}</label>
				<ul class="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li class="completed">
						<div class="view">
							<input class="toggle" type="checkbox" checked>
							<label>completedJavaScript</label>
							<button class="destroy"></button>
						</div>
						<input class="edit" value="Create a TodoMVC template">
					</li>

					<li>	
						<div class="view">
							<input class="toggle" type="checkbox">
							<label>Buy a unicorn</label>
							<button class="destroy"></button>
						</div>
					
					</li>
					<li v-for="todo in todos"
					class="todo"
					:key="todo.id"
					:class="{ completed: todo.completed }">

					<div class="view">
						<input class="toggle" type="checkbox" v-model="todo.completed">
						<label @dblclick="editTodo(todo)">{{ todo.title }}</label>
						<button class="destroy" @click="removeTodo(todo)"></button>
					  </div>


					<input class="edit" type="text"
					v-model="todo.title"
					v-todo-focus="todo == editedTodo"
					@blur="doneEdit(todo)"
					@keyup.enter="doneEdit(todo)"
					@keyup.esc="cancelEdit(todo)">

				  </li>
				  <li>n-{{todos.length}}</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>0</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>

	</div>
	<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
	<script src="https://unpkg.com/vuex"></script>
	<script src="todovue1.js"></script>
	</body>
</html>
